<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>email</title>
</head>
<body>
    <div style="color:white;background-color: #000000; padding: 10px; text-align: center; border:solid 2px;border-radius:10px;">
        <h1 style="color:#f8e580;">عائلة القيصر ترحب بكم</h1>
        <img src="https://drive.google.com/uc?export=download&id=1VLbYyiGOXKEYI69SBfsngTS8n31-4hD_" alt="Company Logo" style="width:200px;height:120px;border-radius:20px;"/>
        <p style="font-size: 20px;">{{ message_to_user | safe }}</p><br><br><br>
        <p style="font-size: 20px;">تحيات عائلة القيصر</p>

    </div>
    <div style="background-color: #f8f8f8; padding: 10px; text-align: center;">
        <span dir="rtl" style="font-size: 20px;">للإتصال بنا :</span><br><br>
        <span style="font-size: 20px;">+213 656 07 04 85</span><br>
        <span style="font-size: 20px;">+213 772 40 75 35</span><br>
    </div>
</body>
</html>
